<p>
	<label for="settings_slack_url">Slack URL</label>
	<input type="text" id="settings_slack_url" size=80 value="<%= settings['slack_url'] %>" name="settings[slack_url]" />
</p>

<p>
	Generate an "Incoming WebHook" URL from the <a href="https://slack.com/apps/build/custom-integration">apps configuration page on Slack</a>. This URL can be changed on a per-project basis by creating a <a href="/custom_fields/new?type=ProjectCustomField">project custom field</a> named "Slack URL" (without quotes).
</p>

<p>
	<label for="settings_channel">Slack Channel</label>
	<input type="text" id="settings_channel" value="<%= settings['channel'] %>" name="settings[channel]" />
</p>

<p>
	The channel can be changed on a per-project or per-group basis by creating a
	<a href="/custom_fields/new?type=ProjectCustomField">project custom field</a> or a 
	<a href="/custom_fields/new?type=GroupCustomField">group custom field</a> named "Slack Channel" (without quotes). 
	<strong>For public channels, this value should start with a <em>#</em>.</strong>
</p>

<p>
	<label for="settings_username">Slack Icon</label>
	<input type="text" id="settings_icon" value="<%= settings['icon'] %>" name="settings[icon]" />
</p>

<p>
	<label for="settings_username">Slack Username</label>
	<input type="text" id="settings_username" value="<%= settings['username'] %>" name="settings[username]" />
</p>

<p>
	<label for="settings_display_watchers">Display Watchers?</label>
	<select id="settings_display_watchers" value="<%= settings['display_watchers'] %>" name="settings[display_watchers]">
		<option value="yes">Yes</option>
		<option value="no" <%= settings['display_watchers'] != 'yes' ? %q(selected="selected") : '' %>>No</option>
	</select>
</p>

<p>
	<label for="settings_post_updates">Post Issue Updates?</label>
	<input type="checkbox" id="settings_post_updates" value="1" name="settings[post_updates]" <%= settings['post_updates'] == '1' ? 'checked="checked"' : '' %> />
</p>

<p>
	<label for="settings_post_wiki_updates">Post Wiki Updates?</label>
	<input type="checkbox" id="settings_post_wiki_updates" value="1" name="settings[post_wiki_updates]" <%= settings['post_wiki_updates'] == '1' ? 'checked="checked"' : '' %> />
</p>

<p>
	<label for="settings_post_group_channel">Use Group Channel?</label>
	<input type="checkbox" id="settings_post_group_channel" value="1" name="settings[post_group_channel]" <%= settings['post_group_channel'] == '1' ? 'checked="checked"' : '' %> />
	if Assignee is a Group, will send notification to this Group's custom channel.
</p>

<p>
	<label for="settings_post_user_group_channels">Use Assignee's Groups Channels?</label>
	<input type="checkbox" id="settings_post_user_group_channels" value="1" name="settings[post_user_group_channels]" <%= settings['post_user_group_channels'] == '1' ? 'checked="checked"' : '' %> />
	if Assignee is a User, will send notification to all of his groups' custom channels.
</p>

